html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: #f6f7fb;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  --custom-color: #323338;
  --custom-color-brand: #0073ea;
  --custom-color-brand-dark: #0263c7;
  --custom-color-brand-light: #d5e5fc  ;
  --custom-color-secondary: #676879;
  --custom-border: 1px solid #d0d4e4;
  /* --custom-border-thic: 4px solid #d0d4e4; */
  --custom-border-thic: none;
  --custom-border-thin: solid 1px var(--custom-color-secondary);
  /* --custom-border-width-thic: 4px; */
  --custom-border-width-thic: O;
  --custom-border-radius: 4px;
  --custom-spacing: 5px;
  --custom-green: #00CC6F;
  --custom-red: #F65F7C;
  --custom-color-transition: .2s ease-out;

  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
  background-color: var(--custom-bg-color);
}

* {
  color: var(--custom-color) !important;
  font-family: var(--custom-font-family) !important;
  box-sizing: border-box;
  outline: none !important;
}

.pi {
  font-family: 'primeicons' !important;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* primereact override */

.p-button {
  background-color: var(--custom-color-brand) !important;
  border: none !important;
  transition: var(--custom-color-transition) !important;
}

.p-button:hover {
  background-color: var(--custom-color-brand-dark) !important;
}

.p-button > span {
  color: var(--custom-bg-color) !important;
}

.p-button-secondary {
  background-color: white !important;
  /* border: 1px solid var(--custom-color-secondary) !important; */
  border : var(--custom-border-thin) !important;
}

.p-button-secondary:hover {
  /* border-color: var(--custom-color-brand-light) !important; */
  background-color: var(--custom-color-brand-light) !important;
}

.p-button-secondary > span {
  color: var(--custom-color-secondary) !important;
}

.p-button-danger {
  background-color: var(--custom-red) !important;
  border: var(--custom-border-width-thic) solid var(--custom-red) !important;
}

.p-button-danger:hover {
  background-color: var(--custom-red) !important;
  border-color: var(--custom-color-brand-light) !important;
}

.p-dialog-title {
  color: var(--custom-color) !important;
}

.graph-listing-card__popup-content {
  margin-bottom: 24px;
}

.space-div-horizontal {
  width: 12px;
}

.p-menuitem-link:hover {
  background-color: var(--custom-color-brand-light) !important;
}

/* page specific CSS */


.graph-listing-card__top-bar {
  display: flex;
}

.graph-listing-card__menu-btn {
  margin-left: auto;
  border-radius: var(--custom-border-radius);
  padding: 8px;
}

.graph-listing-card__menu-btn:hover {
  /* background-color: var(--custom-color-brand-light); */
  background-color: var(--custom-bg-color);
}

.graph-listing-card__popup-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.homepage__wrapper {
  display: flex;
  height: 100vh;
}

.topbar__wrapper {
  background-color: var(--custom-color);
  color: var(--custom-bg-color) !important;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.topbar__title-container {
  color: var(--custom-bg-color) !important;
}

.topbar__item-container {
  color: var(--custom-color-secondary) !important;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  background-color: var(--custom-bg-color);
  display: flex;  
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: var(--custom-border-radius);
  background: linear-gradient(to left, var(--custom-bg-color) 50%, var(--custom-color-brand-light) 50%) right;
  background-size: 200%;
  transition: .3s ease-out;
}

.topbar__item-container:hover {
  background-position: left;
}

.topbar__item-container--disabled {
  cursor: default !important;
  background: #a2a2a3 !important;
  /* color: var(--custom-bg-color) !important; */
}

.topbar__new-graph {
  color: white !important;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  display: flex;  
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  border-radius: var(--custom-border-radius);
  transition: var(--custom-hover-transition);
  background-color: var(--custom-color-brand);
  /* background-color: var(--custom-color-brand-light); */
  /* background: linear-gradient(to left, var(--custom-color-brand) 50%, var(--custom-red) 50%) right; */
  background-size: 200%;
}

.topbar__new-graph:hover {
  background-color: var(--custom-color-brand-dark);
}

.topbar__bottom-spaced {
  margin-bottom: auto;
}

.topbar__logo-container {
  margin-top: 40px;
}

.homepage__container {
  flex-grow: 1;
  max-height: 100vh;
  overflow: scroll;
  padding: 40px 100px;
  margin-left: auto;
  margin-right: auto;
}

.legal__container {
  padding: 40px 100px;
  background-color: var(--custom-bg-color);
}

.legal__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.legal__content {
  font-size: 1.3rem;
  margin-bottom: 64px;
}

.legal__subcontent {
  font-size: 1.3rem;
  /* font-weight: bold; */
  margin-bottom: 24px;
}

.legal__subcontent--spaced {
  margin-left: 24px;
}

.legal__subcontent--bottom-spaced {
  margin-bottom: 64px;
}

/* Grid */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

.editor__wrapper,
.editor__inner-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.editor__wrapper--embed {
  background-color: white;
  overflow: hidden;
}

.editor__options-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 20px;
}

.editor__options-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  border-radius: var(--custom-border-radius);
  border: var(--custom-border-thic);
  padding: 0 20px 20px 20px;
  height: 95%;
  overflow-y: scroll;
}

.editor__options-tabs-selector {
  display: flex;
}

.editor__options-tab-option {
  font-size: 18px;
  font-weight: bold;
  color: var(--custom-color-secondary);
  padding-top: 28px;
  margin-bottom: 28px;
  /* margin-right: 12px; */
  cursor: pointer;
}

.editor__horizontal-space {
  width: 24px;
}

.editor__options-dash {
  margin-top: 20px;
  height: 4px;
  border-radius: var(--custom-border-radius);
}

.editor__wrapper .p-dropdown,
.editor__wrapper .p-inputtext {
  width: 100% !important;
}

.editor__vertical-space {
  height: 8px;
}

.editor__right-container {
  padding: 40px 100px 100px 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.editor__right-container--embed {
  padding: 0;
}

.editor__right-top-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.editor__options-tab-active .editor__options-dash {
  background-color: var(--custom-color-brand);
}

.editor__charts-wrapper {
  /* max-height: calc(100vh - 80px - 83px -140px) !important; */
  height: 100%;
  padding: 40px 0;
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.editor__logo-container {
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.graph-view__logo-container {
  margin-top: auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-view__right-container {
  flex-grow: 1;
  height: 100%;
}

.editor__option-container {
  margin-bottom: 16px;
}

.editor__option-title {
  font-size: 14px;
  font-weight: bold;
  color: var(--custom-color-secondary);
  margin-bottom: 8px;
}

.editor__cta {
  font-size: 24px;
  font-weight: bold;
  color: white !important;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: var(--custom-border-radius);
  background-color: var(--custom-color-brand);
  text-align: center;
  margin-top: auto;
  transition: var(--custom-color-transition)
}

.editor__cta:hover {
  background-color: var(--custom-color-brand-dark);
}

.graph-view__cta {
  font-size: 24px;
  font-weight: bold;
  color: white !important;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: var(--custom-border-radius);
  background-color: var(--custom-color-brand);
  text-align: center;
  margin-top: auto;
  transition: var(--custom-color-transition);
  margin-bottom: 24px;
}

.graph-view__cta:hover {
  background-color: var(--custom-color-brand-dark);
}

.editor__copy-embed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor__subtitle {
  text-align: center;
  font-size: 13px;
  color: var(--custom-color-secondary);
  margin-top: 8px;
  font-style: italic;
}

.editor__options-inner-container {
  /* max-height: 60%;
  overflow: scroll; */
  display: flex;
  flex-direction: column;
}

.charts-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  /* background-color: ; */
}

.subtitle {
  font-size: 14px;
  color: var(--custom-color-secondary);
  margin-top: 8px;
}

.editor__go-back-container {
  display: flex;
  align-items: center;
  margin-right: 24px;
  color: var(--custom-color-secondary);
  cursor: pointer;
  background-color: white;
  padding: 0 1.25rem;
  /* height: calc(100% - 2px); */
  height: 100%;
  border-radius: var(--custom-border-radius);
  /* border: var(--custom-border-thin); */
  /* margin-right: auto; */
}

.editor__go-back-container:hover {
  background-color: var(--custom-color-brand-light);
}

.editor__go-back-container .pi {
  margin-right: 12px;
}

.title-basic {
  font-size: 24px;
  font-weight: bold;
  color: var(--custom-color-secondary);
  margin-bottom: 20px;
}

.graph-listing-wrapper{
  margin-bottom: 40px;
}


.graph-listing-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.graph-listing-card {
  padding: 12px 20px 20px 20px;
  margin: 0 20px 20px 0;
  background-color: white;
  border: var(--custom-border-thic);
  border-radius: var(--custom-border-radius);
  cursor: pointer;
  width: 180px;
  transition: var(--custom-color-transition);
}

.graph-listing-card:hover {
  background-color: var(--custom-color-brand-light);
}

.homepage__empty-state-container {
  padding: 28px;
  background-color: white;
  border: var(--custom-border-thic);
  border-radius: var(--custom-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage__empty-state-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--custom-color-secondary);
  margin-bottom: 20px;
  text-align: center;
}

.homepage__empty-state-btn {
  font-size: 24px;
  font-weight: bold;
  color: white !important;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: var(--custom-border-radius);
  background-color: var(--custom-color-brand);
  transition: var(--custom-hover-transition);
}

.homepage__empty-state-btn:hover {
  background-color: var(--custom-color-brand-dark);
}

.graph-listing__empty-state-container {
  padding: 28px;
  background-color: white;
  border: var(--custom-border-thic);
  border-radius: var(--custom-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-listing__empty-state-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--custom-color-secondary);
  margin-bottom: 20px;
}

.graph-listing__empty-state-btn {
  font-size: 24px;
  font-weight: bold;
  color: white !important;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: var(--custom-border-radius);
  background-color: var(--custom-color-brand);
  text-align: center;
  transition: var(--custom-color-transition);
}

.graph-listing__empty-state-btn:hover {
  background-color: var(--custom-color-brand-dark);
}

.homepage__account-container {
  padding: 28px;
  background-color: white;
  border: var(--custom-border-thic);
  border-radius: var(--custom-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage__account-integration-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--custom-color-secondary);
  margin-bottom: 24px;
}

.homepage__account-integration-container {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.homepage__account-integration-logo {
  border-radius: var(--custom-border-radius);
}

.homepage__account-integration-name {
  font-size: 18px;
  font-weight: bold;
  color: var(--custom-color-secondary);
  margin-left: 12px;
}

.homepage__account-integration-btn {
  font-size: 18px;
  font-weight: bold;
  color: var(--custom-color-secondary) !important;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: var(--custom-border-radius);
  border: var(--custom-border-thin);
  transition: var(--custom-color-transition);
}

.homepage__account-integration-btn:hover {
  background-color: var(--custom-color-brand-light);
}

.landing__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 100px 20%;
}

.landing__title {
  margin: 0;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--custom-color-secondary);
  margin-bottom: 60px;
}

.landing__auth-wrapper {
  min-width: 60%;
  padding: 28px 40px;
  background-color: white;
  border: var(--custom-border-thic);
  border-radius: var(--custom-border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.supabase-auth-ui_ui-input {
  border-radius: var(--custom-border-radius);
  /* border: var(--custom-border-width-thic) solid var(--custom-color-brand-light) !important; */
  border: var(--custom-border-thin) !important;
}

.supabase-auth-ui_ui-anchor {
  color: var(--custom-color-secondary);
}

.supabase-auth-ui_ui-button {
  font-size: 18px !important;
  font-weight: bold !important;
  color: white !important;
  cursor: pointer !important;
  padding: 12px 24px !important;
  border-radius: var(--custom-border-radius) !important;
  background-color: var(--custom-color-brand) !important;
}

.t-PJLV {
  width: 100%;
}

.landing__logo-container {
  margin-top: 40px;
}

.graph-listing-card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: bold;
  color: var(--custom-color-secondary);
  margin-bottom: 20px;
}

.graph-listing-card:hover {
  /* box-shadow: var(--custom-box-shadow); */
  border-color: var(--custom-color-brand-light);
}

.notion-dbs__wrapper {
  display: flex;
  flex-direction: column;
}

.notion-dbs__input-container {
  border: var(--custom-border-thin) !important;
}

.notion-dbs__input-container:hover,
.notion-dbs__input-container:focus,
.notion-dbs__input-container:focus-visible {
  border-color: var(--custom-color-brand-light) !important;
  box-shadow: none !important;
}

.notion-dbs__options-list {
  border: var(--custom-border-thin) !important;
  border-radius: var(--custom-border-radius);
  height: 230px;
  overflow: scroll;
  margin-top: 12px;
}

.notion-dbs__option {
  padding: 16px 20px;
  cursor: pointer;
  border-radius: var(--custom-border-radius);
  /* width: 400px; */
}

.notion-dbs__option:hover {
  background-color: var(--custom-color-brand-light);
}

.editor__tooltip-wrapper {
  padding: 12px;
  background-color: white;
  border-radius: var(--custom-border-radius);
}

.recharts-tooltip-wrapper {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.editor__tooltip-title {
  margin-bottom: 12px;
}

.editor__tooltip-value--spaced {
  margin-bottom: 4px;
}

.editor__pies-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.editor__pie-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.editor__pie-title {
  font-size: 18px;
  font-weight: bold;
}

.editor__charts-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.graph-view__charts-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.graph-view__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.graph-view__charts-wrapper {
  height: 100%;
  width: 100%;
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.graph-view__tooltip-wrapper {
  padding: 12px;
  background-color: white;
  border-radius: var(--custom-border-radius);
}

.recharts-tooltip-wrapper {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.graph-view__editor-container {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: var(--custom-color-brand-light);
  /* text-align: center; */
  width: 23%;
}

.graph-view__cta > .p-progress-spinner {
  width: 20px !important;
  height: 20px !important;
}

.plugin-landing__topbar {
  padding: 20px 5%;
  display: flex;
  align-items: center;
  background-color: var(--custom-bg-color);
}
.plugin-landing__bottombar {
  width: 100%;
  padding: 40px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--custom-color-brand-light);
  border-radius: 25px 25px 0 0;
}

.plugin-landing__bottombar-rights {
  font-size: 0.9rem;
  color: var(--custom-color-secondary) !important;
}

.plugin-landing__app-name {
  font-size: 28px;
  font-weight: bold;
  margin-left: 20px;
}

.plugin-landing__app-secondary {
  font-size: 28px;
  font-weight: bold;
  margin-left: auto;

}

.plugin-landing__container {
  width: 100%;
}

.plugin-landing__content-container {
  padding: 20px 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plugin-landing__title {
  font-size: 70px;
  font-weight: bold;
  margin-top: 100px;
  text-align: center;
  padding: 0 10%;
}

.plugin-landing__subtitle {
  padding: 0 20%;
  font-size: 30px;
  font-weight: semibold;
  margin-top: 40px;
  text-align: center;
  color: var(--custom-color-secondary) !important;
}

.plugin-landing__section-title {
  padding: 0 20%;
  font-size: 3rem;
  font-weight: semibold;
  margin-bottom: 60px;
  text-align: center;
  color: var(--custom-color) !important;
}

.plugin-landing__card {
  margin: 100px 0;
  /* width: 100%; */
  padding: 60px 100px;
  background-color: var(--custom-color-brand);
  border-radius: 10px;
}

.plugin-landing__flow {
  display: flex;
  align-items: center;
}

.plugin-landing__arrows {
  margin: 0 20px 29px 20px;
  color: var(--custom-bg-color) !important;
}

.plugin-landing__flow-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px 18px 18px 0;
  border: 2px solid var(--custom-color-secondary);
  overflow: hidden;
}

.plugin-landing__flow-name {
  margin-top: 20px;
  font-size: 25px;
  font-weight: semibold;
  color: var(--custom-color-brand-light) !important;
}

.plugin-landing__flow-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.plugin-landing__install-inner {
  display: flex;
  padding: 20px 5%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.plugin-landing__git-container {
  border-radius: 60px;
  overflow: hidden;
}

.plugin-landing__install-section {
  border-radius: 25px;
  background-color: var(--custom-color-brand-light);
  padding: 60px;
  margin-bottom: 100px;
}

.plugin-landing__install-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 40px 20px 0 20px;
}

.plugin-landing__section-subtitle {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.plugin-landing__section-item {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--custom-color-secondary) !important;
  /* font-size: 1.2rem;
  margin-bottom: 12px; */
}

.plugin-landing__use-section {
  padding: 0 60px 0 60px;
  /* margin-bottom: 100px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plugin-landing__gpt-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--custom-green);
  width: 40px;
  height: 40px;
  border-radius: var(--custom-border-radius);
  font-size: 1.2rem;
  margin-right: 12px;
}

.plugin-landing__gpt-question {
  font-size: 1.2rem;
  color: var(--custom-color-secondary) !important;
}

.plugin-landing__gpt-preview {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 12px;
  padding: 20px;
  border: 1px solid var(--custom-color-secondary);
  border-radius: 24px;
}

.plugin-landing__bottom-img {
  margin-top: 12px;
  margin-bottom: 40px;
}